/* utility-first */
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    border-radius: 16px;
    color:  var(--gray-300);
   
  }
  
.grid-flow-col {
      grid-auto-flow: column;
}

.grid-cols-2 {
    grid-template-columns: 1fr 1fr;
}

.gap-16 {
    gap: 16px;
}

.gap-32 {
    gap: 32px;
}